<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link
      rel="stylesheet"
      href="{{ asset('bundles/steffenustarter/css/adobe_assets.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;700&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
  </head>
  <body>
    {# ################### NAVIGATION #################### #}
    <nav>
      <div class="nav-container">
        <img
          id="lc-logo"
          src="{{ asset('bundles/steffenustarter/img/logo.png') }}"
          alt=""
        />
      </div>
    </nav>
    {# ################### MAIN #################### #}
    <main>
      {% block body %}

      <div class="info">
        <div class="text-wrapper">
          <h1 class="info__headline">Bequem downloaden</h1>
          <p class="info__text">
            Die Adobe Kit Fonts im .woff2 Format zum Download
          </p>
        </div>

        <button ><a id="download_button" style="text-decoration: none;color:#334115;" href="">DOWNLOAD</a></button>
      </div>

      <div class="font-list">
        {% for item in asset_array %}
        <div class="font-list-item">
          <ul class="labels">
            <li class="label-font-family">font-family</li>
            <li class="label-font-weight">font-weight</li>
          </ul>
          <ul class="values">
            <li class="font-family">
    
            <!-- The download attribute only works for same-originl URLs. -->
            <a style="text-decoration:none; color:#334115;" href="{{item["css"]["src"]}}" download="{{
              item["css"]["font_family"] ~ item["css"]["font_weight"]
            }}">{{ item["css"]["font_family"] }}</a>
            </li>
            <li class="font-weight">{{ item["css"]["font_weight"] }}</li>
          </ul>
        </div>
        {% endfor %}
      </div>

      <!--       <ul>
        {% for item in asset_array %}
        <li>{{ item["css"]["font_family"] }}</li>
        {% endfor %}
      </ul> -->
    </main>
    {# ################### FOOTER #################### #}
    <footer>
      <ul class="list">
        <li class="list-item">Impressum</li>
        <li class="list-item">/</li>
        <li class="list-item">Datenschutz</li>
      </ul>
    </footer>

    {% endblock %} {% block javascripts %}
    <script src="{{
      asset('bundles/steffenustarter/js/asset_download.js')
    }}"></script>
    {% endblock %}
  </body>
</html>


